<footer class="page-footer font-small{% if user.is_authenticated%} red{% else %} indigo {% endif %} fixed-bottom">
    <div class="footer-copyright text-center py-3">&copy; 2020 Copyright:
        <a href="http://localhost:8000">Deliver</a>
        {% if user.is_authenticated %}
        <a class="ml-3" href="{% url 'account_logout' %}"> Restaurant LogOut </a>
        {% else %}
            <a class="ml-3" href="{% url 'account_login' %}"> Restaurant Login</a>
        {% endif %}

        
    </div>
</footer>
